*{
    margin: 0;
    padding: 0;
}
header{
    height: 45px;
    background-color: black;
    color: #ddd;
}
.main{
    width: 90%;
    min-height: 1000px;
    margin: auto;
}
.container{
    display: -webkit-flex;
    display: flex;
    background-color: #ddd;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/* 电影列表样式 始*/
.movie{
    width: 170px;
    height: 245px;
    background:transparent;
    margin: 5px 5px;
}

.movieName{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: #333;
    font-size: 15px;
}
a:hover{
    color: #e74c3c;
}
@media only screen and (max-width : 768px){
    .main{
        width: 100%;
        min-height: 1000px;
    }
    .movie{
        width: 136px;
        height: 196px;
        background: transparent;
        margin: 5px 5px;
    }
}
.moviePoster{
    width: 100%;
    height: 90%;
}
/*电影列表样式 终*/
/*页脚样式*/
footer{
    height: 45px;
    background-color: black;
    color: #ddd;
}